.page{
  background-color: beige;
  margin: 0px;
}

.nav{
 font-family: "Josefin Sans";
 font-weight: 400;
 font-size: 18px;
 margin-top: 0px;
 }

.pr-4{
  padding-right: ($spacer*1.5);
}

.mr-auto{
  margin-right: auto !important;
  text-align: right;
}


html{
  margin : 0px;
}


.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        font-family: "Homemade Apple";
        font-weight: 200;
        font-size: 30px;      
        padding-bottom : 5px;  
  }
    
.grid{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.style1 {
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1920px;
  
}

